bin/
obj/
*.user
*.suo
*.userprefs
.vscode/
.idea/
*.DotSettings.user
*.DS_Store
**/*.tar
**/*.tar.gz
DockerWithNoOtherDependencies/**/*.zip
DockerWithNoOtherDependencies/**/images/
RateGate-Docker-Offline-Bundle-*.zip

